<div class="mb-3 d-flex flex-row justify-content-around">
  <%= image_tag asset_path('maw_home_hunter.png'), class: "w-50 m-5" %>
  <span class="m-5 text-center">
  <h3>About Us</h3>
    Make-A-Wish is a non-profit organization that grants wishes to children with critical illnesses. Founded in the United States in 1980, Make-A-Wish has since become a global organization, with chapters in more than 50 countries worldwide.
    <br>
    The organization's mission is to create life-changing experiences that bring hope, strength, and joy to children facing serious medical conditions. By granting wishes, Make-A-Wish aims to give these children and their families a much-needed break from the physical, emotional, and financial strains of their illnesses. Make-A-Wish has granted more than 500,000 wishes globally, and is committed to making an impact in the lives of even more children and families in the future.
  </span>
</div>


<div class="mb-3 d-flex flex-row justify-content-around">
  <span class="m-5 text-center">
  <h3>Our Mission</h3>
    This one belief guides us in everything we do at Make-A-Wish. It inspires us to grant life-changing wishes for children going through so much. It compels us to be creative in exceeding the expectations of every wish kid. It drives us to make our donated resources go as far as possible. Most of all, it's the founding principle of our vision to grant the wish of every eligible child.
    <br>
    Wishes are more than just a nice thing. And they are far more than gifts, or singular events in time. Wishes impact everyone involved—wish kids, volunteers, donors, sponsors, medical professionals and communities. For wish kids, just the act of making their wish come true can give them the courage to comply with their medical treatments. Parents might finally feel like they can be optimistic. And still others might realize all they have to offer the world through volunteer work or philanthropy. 
  </span>
  <%= image_tag asset_path('maw_home_mission.png'), class: "w-50 m-5" %>
</div>